<div class="page-header">
  <h1>New Project</h1>
</div>

<!-- passing into project key, an instance variable @project the partial form can read! -->
<%= render "form", project: @project %>





































